<!--
***********************************
Author: Steven Stackle
Assignment #2, ICT-4310, Autumn 2020, Instructor: Michael Schwartz
Last Revision: October 10, 2020

Description: This template file contains static HTML and dynamic data  from
the Flask Python web framework to render the application in the user's browser.  
Flask uses the Jinja template library for rendering. 
The Paypro application demonstrates communication between a 
client and server over HTTP. It uses the Flask framework to start a server on 
the local machine and generate web pages. On the client side, the cardholder 
fills out a payment form. When the cardholder submits the form, the client 
POSTs the data to the server in JSON format. The server responds with a 
message similar to a credit card authorization, also in JSON format.
************************************
-->

<!-- Default static home page -->

<!DOCTYPE html>
<html>

<body>
    <h1>ICT-4310 PAYMENT PROCESSOR</h1>
    <p>A project by Steve Stackle</p>
    <p>Fall Quarter 2020</p>
</body>

</html>