<!--
***********************************
Author: Steven Stackle
Assignment #4, ICT-4310, Autumn 2020, Instructor: Michael Schwartz
Last Revision: November 7, 2020

Description: This template file contains static HTML and dynamic data  from
the Flask Python web framework to render the application in the user's browser.  
Flask uses the Jinja template library for rendering. 
The Paypro application demonstrates communication between a 
client and server over HTTP. It uses the Flask framework to start a server on 
the local machine and generate web pages. On the client side, the cardholder 
fills out a payment form. When the cardholder submits the form, the client 
POSTs the data to the server in JSON format. The server responds with a 
message similar to a credit card authorization, also in JSON format.
************************************
-->

<!-- This inserts the code to display a list of completed transactions. -->

{% extends "layout.html" %}
{% block content %}
<div class="home">
    <p>A project by Steve Stackle</p>
    <h2>Transaction List</h2>
</div>
<div class="trans_list">
    <h4 class="center">List of unsettled transactions:</h4>
    <table class="trans_table">
        <tbody>
            <tr>
                <th><h6>Cardholder</h6></th>
                <th><h6>Card Number</h6></th>
                <th><h6>Approval</h6></th>
                <th><h6>Amount</h6></th>
                <th><h6>Currency</h6></th>
                <th><h6>Trans. ID</h6></th>
                <th><h6>Merch Name</h6></th>
                <th><h6>Netwk ID</h6></th>
                <th><h6>Approval Code</h6></th>
                <th><h6>Result Code</h6></th>
            </tr>
            {% for trans in trans_list %}
            <tr>{% for item in trans %}
                <td>{{ item }}</td>

                {% endfor %}</tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 class="center">(More settlement info/code would go here.)</h4>

</div>
{% endblock %}